<!-- Generated template for the BusinessesComponent component -->
  <div class="scroll-div" scrollX="true"style="height:145px;width:500px;">
    <div class="overflowingContent" style="height:145px;width:830px;top:-90px;">
      <div *ngFor="let card of cards" class="scroll-content-div">
        <img src={{card.card_img}} width='155vw' height=85vw class="scroll-item">
        <p class="card">{{card.company_name}}</p>
        <p class="type">{{types[card.card_no]}}</p>
        <p class="distance">0.{{card.card_no}} km</p>
      </div>
    </div>
  </div>
