$main-color: #fcbd82;
$font-size: 15px;

businesses {

}
.overflowingContent{
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
}
li{
  list-style: none;
}
.scroll-item{
  display: block;
  float: left;
}
.scroll-div{
  overflow-x: auto !important;
  white-space: nowrap;
  margin-top: 15px;
}
.scroll-item{
  margin-right: 4vw;
  border-radius: 6px;
  float: none;
}

scroll-content-div{
  display: flex;
  flex-direction: column;
}
.card{
  margin: 0 !important;
  font-size: $font-size !important;
}

.distance{
  color: $main-color;
  font-size: $font-size * 0.8;
  margin-left: 0;
}

.type{
  font-size: $font-size * 0.9;
  margin-left: 0;
}
